@model IEnumerable<ShoppingMiddleware.Models.SanPham>
@using ShoppingMiddleware.Models

<!-- / Navbar -->
<!-- Content wrapper -->
<div class="content-wrapper">
    <!-- Content -->

    <div class="container-xxl flex-grow-2 container-p-y">
        <!-- Examples -->

        <div class="row row-cols-1 row-cols-md-3 g-6 mb-6">
            @foreach (var item in Model)
            {
                HinhAnh[] imgs = item.HinhAnh.ToArray();
                ChiTiet_SP detail = item.ChiTiet_SP.FirstOrDefault();
                string productUrl = Url.Action("View_ImgProductZoom", "NguoiDungs", new { productID = item.IDSP }).ToString();

                <div class="col">
                    <div class="card h-100">
                        <p class="card-text"> </p>
                        <img onclick="showResult('@productUrl')" class="card-img-top" src="~/Public/imgs/@(imgs[0].TenHinh)" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text"> click images </p>
                            <h5 class="card-title">@Html.DisplayFor(modelItem => item.TenSP)</h5>
                            <h6 class="card-subtitle">
                                Category: @Html.DisplayFor(modelItem => item.LoaiSP.TenLoai)
                            </h6>
                            <p class="card-text"> </p>
                            <a href="javascript:void(0)" class="btn btn-outline-primary waves-effect">Buy now !</a>
                            <a href="javascript:void(0)" class="btn btn-outline-primary waves-effect">Detail</a>
                            <p class="card-text"> </p>
                            <p class="card-text">Cost: @detail.GiaBan.ToString("N0")/VNĐ </p>
                        </div>
                    </div>
                </div>
            }

        </div>

    </div>
</div>
<script>
    function showResult(id) {
        open(id, "", "width=440, height=400, left=30, top=20");
    }
</script>