<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

    <title>@ViewBag.Title</title>

    <meta name="description" content="" />

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="~/assets/img/favicon/favicon.ico" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&ampdisplay=swap"
          rel="stylesheet" />

    <link rel="stylesheet" href="~/assets/vendor/fonts/remixicon/remixicon.css" />

    <!-- Menu waves for no-customizer fix -->
    <link rel="stylesheet" href="~/assets/vendor/libs/node-waves/node-waves.css" />

    <!-- Core CSS -->
    <link rel="stylesheet" href="~/assets/vendor/css/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="~/assets/vendor/css/theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="~/Content/demo.css" />

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="~/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />
    <link rel="stylesheet" href="~/assets/vendor/libs/apex-charts/apex-charts.css" />

    <!-- Page CSS -->
    <!-- Helpers -->
    <script src="~/assets/vendor/js/helpers.js"></script>
    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="~/assets/js/config.js"></script>
</head>
<body>
    <div id="layout-wrapper">
        <!-- Navbar -->
        <nav>
            <ul class="menu-sub">
                <li id="main" class="menu-item">
                    <a href="#" onclick="loadPartial('tesy')">Main</a>
                </li>
                <li id="sub" class="menu-item">
                    <a href="#" onclick="loadPartial('NguoiDung')">Sub</a>
                </li>
            </ul>
        </nav>

        <div class="menu-inner-shadow"></div>

        <ul class="menu-inner py-1">
            <!-- Dashboards -->
            <li class="menu-item active open">
                <a href="" class="menu-link menu-toggle">
                    <i class="menu-icon tf-icons ri-home-smile-line"></i>
                    <div>Dashboards</div>
                    @* thông báo  *@
                    @*<div class="badge bg-danger rounded-pill ms-auto">5</div>*@
                </a>
                <ul class="menu-sub">
                    <li name="User1" class="menu-item">
                        <a href="#" class="menu-link" onclick="loadPartial('tesy')">
                        <div data-i18n="User">Users</div>
                        </a>
                    </li>
                    <li name="User2" id="User2" onclick="menuSelect()" class="menu-item">
                        <a href="http://localhost:56413/home/tesy" class="menu-link">
                            <div data-i18n="User">Users</div>
                        </a>
                    </li>
                    <li name="User3" id="User3" class="menu-item">
                        <button class="menu-link">
                            <div data-i18n="User">Users</div>
                        </button>
                    </li>


                    @*<li class="menu-item">
                        <a href="index.html" class="menu-link">
                            <div data-i18n="User">Users</div>
                        </a>
                    </li>
                    <li class="menu-item active">
                        <a href="index.html" class="menu-link">
                            <div data-i18n="User">Users</div>
                        </a>
                    </li>*@

                    <li class="menu-item">
                        <a href=""
                           target="_blank"
                           class="menu-link">
                            <div data-i18n="eCommerce">eCommerce</div>
                            <div class="badge bg-label-primary fs-tiny rounded-pill ms-auto">Pro</div>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="https://demos.themeselection.com/materio-bootstrap-html-admin-template/html/vertical-menu-template/app-logistics-dashboard.html"
                           target="_blank"
                           class="menu-link">
                            <div data-i18n="Logistics">Logistics</div>
                            <div class="badge bg-label-primary fs-tiny rounded-pill ms-auto">Pro</div>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="https://demos.themeselection.com/materio-bootstrap-html-admin-template/html/vertical-menu-template/app-academy-dashboard.html"
                           target="_blank"
                           class="menu-link">
                            <div data-i18n="Academy">Academy</div>
                            <div class="badge bg-label-primary fs-tiny rounded-pill ms-auto">Pro</div>
                        </a>
                    </li>
                </ul>
            </li>

            <!-- Body Content -->
            <div id="content">
                @RenderBody()
            </div>
    </div>


    <script>
        function loadPartial(partialName) {
            $('#content').load('@Url.Action("LoadPartial", "Home")', { partialViewName: partialName });

            // Bỏ 'active' từ tất cả các mục navbar
            $('.nav-item').removeClass('active');

            // Thêm 'active' vào mục navbar tương ứng
            $('#' + partialName).addClass('active');
        }
    </script>
</body>
</html>
<!-- Core JS -->
<!-- build:js assets/vendor/js/core.js -->
<script src="../assets/vendor/libs/jquery/jquery.js"></script>
<script src="../assets/vendor/libs/popper/popper.js"></script>
<script src="../assets/vendor/js/bootstrap.js"></script>
<script src="../assets/vendor/libs/node-waves/node-waves.js"></script>
<script src="../assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
<script src="../assets/vendor/js/menu.js"></script>

<!-- endbuild -->
<!-- Vendors JS -->
<script src="../assets/vendor/libs/apex-charts/apexcharts.js"></script>

<!-- Main JS -->
<script src="../assets/js/main.js"></script>

<!-- Page JS -->
<script src="../assets/js/dashboards-analytics.js"></script>

<!-- Place this tag before closing body tag for github widget button. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>